/*========== VARIABLES =======*/
:root {
    --primery-color: #434455;
    --primary-bg-color: #ffffff;
    --logo-font-famaly: "Raleway", sans-serif;
    --primary-font-famaly: "Roboto", sans-serif;
    --primary-logo-color: #4d5ae5;
    --secondary-text-color: #2E2F42;
}

body {
    font-family: var(--primary-font-famaly);
    color: var(--primery-color);
    background-color: var(--primary-bg-color);
}

.navigetion {
    font-style: normal;
}

/*========== VARIABLES =======*/

/* ========== COMMON STYLES ======= */
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* ========== /COMMON STYLES ======= */

/* PAGE HEADER */

.logotype {
    font-family: var(--logo-font-famaly);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-logo-color);
}


.logotype-part {
    color: var(--secondary-text-color);
}



.menu-link {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: calc(24/16);
    letter-spacing: 0.02em;

}


.contact-link{
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: var(--slate, #434455);
}
.contact-link{
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: var(--slate, #434455);
}
.menu-link:hover,
.menu-link:focus{
    color: #404BBF;
}
.contact-link:hover,
.contact-link:focus{
    color: #404BBF;
}
/*=========== /PAGE HEADER ==========*/

  /*=========== HERO ==========*/
  .hero{
      background-color: var(--primery-color);
  }

  .main-title{

      text-align: center;
      font-family: Roboto;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.07;
      letter-spacing: 1.12px;
      color: #FFF;
  }

  .order-servis {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      background-color: #4D5AE5;
      color: #FFFFFF;
  }

  .order-servis:hover,
  .order-servis:focus {
      background-color: #404BBF;
      color: #FFFFFF

  /*=========== /HERO ==========*/


        /*=========== BENEFITS ==========*/
    
       }
        .benefits-list-title {
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.4px;
            color: var(--primery-color);
        }
    
        .benefits-list-text {
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.32px;
            color: var(--primery-color);
        }
    
        /*=========== /BENEFITS ==========*/
    
        /*========== SPECIFICS OF WORK =========*/
        .what-doing-title {
            text-align: center;
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            color: var(--primery-color)
        }
    
        /*========== /SPECIFICS OF WORK =========*/
    
        /*========== OUR TEAM =========*/
        .our-team-title {
    
            text-align: center;
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            color: var(--primery-color);
        }
    
        .our-team-list-title {
    
            text-align: center;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.4px;
            color: var(--primery-color);
        }
    
        .our-team-list-text {
    
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.32px;
            color: var(--primery-color);
        }
    
        /*========== /OUR TEAM =========*/



/*=========== HERO POTFOLIO ==========*/
.all{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        background-color: #E7E9FC;
        color: var(--second-color)
}
.all:hover,
.all:focus{
    background-color: #404BBF;
    color: #FFFFFF
}
.web-site{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        background-color: #E7E9FC;
        color: var(--second-color)
}
.web-site:hover,
.web-site:focus{
    background-color: #404BBF;
        color: #FFFFFF
}

.app{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        background-color: #E7E9FC;
        color: var(--second-color)
}

.app:hover,
.app:focus{
    background-color: #404BBF;
        color: #FFFFFF
}

.desing{
font-family: Roboto;
font-size: 16px;
font-weight: 500;
background-color: #E7E9FC;
color: var(--second-color)
}

.desing:hover,
.desing:focus{
    background-color: #404BBF;
        color: #FFFFFF
    }

.marketing{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        background-color: #E7E9FC;
        color: var(--second-color)
}

.marketing:hover,
.marketing:focus{
    background-color: #404BBF;
        color: #FFFFFF
}
/*=========== /HERO PORTFOLIO ==========*/

/*=========== MOBILE APPLICATIONS ==========*/
.mobile-applications-title{

        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        color: var(--primery-color);
}

.mobile-applications-text{

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: #434455;
}
/*=========== /MOBILE APPLICATIONS ==========*/

        /*========== FOOTER =========*/
        .page-footer {
            background-color: #434455;
        }
    
        .footer-logotype {
    
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 1.16;
            letter-spacing: 0.54px;
            text-transform: uppercase;
            color: #4D5AE5;
    
    
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 1.16;
            letter-spacing: 0.54px;
            text-transform: uppercase;
            color: #F4F4FD;
        }
    
        .page-footer-text {
    
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.32px;
            color: #F4F4FD;
        }
    
        /*========== /FOOTER =========*/
        
